.upgradeIcon {
    justify-content: center;
    margin: 10px;
    background-color: var(--color-surface-subtle);
    border-radius: 16px;
}
i {
    color: var(--color-icon-default);
    font-size: 30px;
    padding: 10px;
}