.helperText {
    color: var(--color-text-secondary);
    font-size: 12px;
    margin-top: 48px;
}

aside p {
    color: var(--color-text-supporting);
    font-size: 12px;
    font-weight: 400;
}

.upgradeContent p {
    margin: 0;
    font-weight: 600;
}

.cookieCost {
    color: var(--color-price-highlight);
}

p {
    color: var(--color-text-primary);
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

#cookiePerSecond {
    color: var(--color-price-highlight);
    font-size: 16px;
    font-weight: 400;
}