aside {
    border-radius: 20px;
    padding: 14px;
    margin: 34px;
    background: var(--Secondary-1);
    box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    width: 18%;
}

#shop {
    gap: 12px;
    flex-direction: column;
    align-items: center;
}

aside p {
    color: var(--Secondary-3);
    font-size: 12px;
    font-weight: 400;
}

.upgradeCard {
    height: 100px;
    align-items: center;
    border-radius: 16px;
    width: 100%;
    background-color: var(--White);
}

.upgradeIconWrapper {
    justify-content: center;
    margin: 10px;
    width: 14%;
    background-color: var(--Wraper-background);
    border-radius: 16px;
}

i {
    color: var(--iconeColor);
    font-size: 30px;
}

.upgradeContent {
    flex: 1;
    flex-direction: column;
    padding-left: 10px;
}

.upgradeContent h4 {
    margin: 0;
    justify-content: center;
}

.upgradeContent p {
    margin: 0;
}

.baseCost {
    font-size: 14px;
    color: var(--baseCostColor);
    font-weight: bold;
}

.cookieCost {
    color: var(--cookieCostColor);
}

.upgradeStats {
    padding: 2%;
}

.upgradeStats p {
    color: var(--Success);
    margin: 0;
    align-items: center;
}

.cps {
    font-weight: bold;
    font-size: 14px;
}
