aside {
    border-radius: 2%;
    margin: 0 25px;
    gap: 12px;
    background: var(--Secondary-1);
    align-items: center;
    flex-direction: column;
    width: 18%;
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.15);
}

.upgradeCard {
    border-radius: 10%;
    width: 88%;
    background-color: #f3f4f6;
}

.upgradeIconWrapper {
    margin: auto;
    width: 15%;
    background-color: #e5e7eb;
    border-radius: 25%;
}

.upgradeContent {
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
}

.upgradeContent h4 p {
    margin: 10px;
    justify-content: center;
}

.upgradeStats {
    width: 30%;
}

.upgradeStats p {
    color: var(--Success);
    margin: auto;
    display: flex;
}