aside {
    border-radius: 20px;
    padding: 14px;
    margin: 34px 34px;
    background: var(--Secondary-1);
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    width: 18%;

}

#shop {
    gap: 12px;
    flex-direction: column;
    align-items: center;
}

aside p {
    color: #c25a00;
    font-size: 12px;
    font-weight: 400;
}

.upgradeCard {
    height: 100px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 94%;
    background-color: #f3f4f6;
}

.upgradeIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 50px;
    background-color: #e5e7eb;
    border-radius: 25%;
}

.upgradeContent {
    flex: 1;
    flex-direction: column;
    padding-left: 10px;
}

.upgradeContent h4 p {
    margin: 0;
    justify-content: center;
}

.upgradeContent p {
    margin: 0;
}

.upgradeStats {
    padding: 4%;
}

.upgradeStats p {
    color: var(--Success);
    margin: 0;
    align-items: center;
}

.cps {
    font-weight: bold;
    font-size: 14px;
}

.baseCost {
    font-size: 14px;
    color: #7b3306;
    font-weight: bold;
}

.cookieCost {
    color: #e27100;
}

i {
    color: #6a7282;
    font-size: 30px;
}