h1 {
    margin-top: 100px
}

h2 {
    font-size: 100px;
    color: var(--Chocolate-1);
}

h3 {
    margin: 20px;
    font-size: 26px;
    color: var(--Chocolate-2);
    font-weight: 700;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--Chocolate-1);
}