h2 {
    font-size: 100px;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cookiesBox {
    width: 100%;
    display: flex;
    justify-content: center;
}
img {
    width: 20%;
}