/* Components */

@import url("components/atoms/text.css");
@import url("components/atoms/title.css");
@import url("components/atoms/cost.css");
@import url("components/atoms/cps.css");
@import url("components/atoms/icon.css");
@import url("components/molecules/upgradeCards.css");
@import url("components/molecules/upgradeCardsContainer.css");
@import url("components/molecules/upgradeContent.css");
@import url("components/organisms/shop.css");
@import url("components/organisms/cookieBox.css");

/* Colors */

:root {
    --color-bg-app: #fff9ec;
    --color-surface-card: #f3f4f6;
    --color-surface-subtle: #e5e7eb;
    --color-surface-panel: #FFEDD5;
    --color-price-highlight: #e27100;
    --color-text-supporting: #c25a00;
    --color-text-secondary: #B45309;
    --color-text-primary: #7b3306;
    --color-text-heading: #7b3306;
    --color-price-base: #7b3306;
    --color-icon-default: #6a7282;
    --color-status-success: #27a661;
}

* {
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex !important;
}

body {
    margin: 0;
}

main {
    height: 100vh;
    background-color: var(--color-bg-app);
}

img {
    width: 20%;
}
